fastapi>=0.115.0
uvicorn>=0.31.1
python-dotenv>=1.0.1
pydantic-settings>=2.6.0
python-json-logger>=2.0.7
tqdm>=4.67.0
pyyaml>=6.0.2
pydantic>=2.10.3
pre-commit>=3.4.0
detect-secrets==1.5.0
transformers==4.52.4
datasets==3.6.0
torch==2.7.0
jiwer==3.1.0
sagemaker==2.245.0
boto3==1.38.26
soundfile==0.13.1
librosa==0.11.0
pydub==0.25.1
python-multipart==0.0.20
